<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set, compatibility, and viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title and description from the locals object -->
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />

    <!-- Link to the stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Script for JavaScript with defer attribute to defer execution -->
    <script type="text/javascript" defer src="/js/script.js"></script>
  </head>
  <body>
    <!-- Container to hold the entire content -->
    <div class="container">
      <!-- Include header partial -->
      <%- include('../partials/header_admin.ejs') %>

      <!-- Main content area -->
      <main class="main"><%- body %></main>

      <!-- Include footer partial -->
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
